{{#if data.projects.length}}
<section id="work">
  <div class="work__title">Projects </div>
  {{#each data.projects}}
  {{#if name}}
  <div class="work">
    <div class="work__date">
      <div class="work__date__round"></div>
      <div class="work__date__center"></div>
      {{#if startDate}}
      <span class="startDate">
      {{ startDate }} - 
      </span>
      {{/if}}
      {{#if endDate}}
      <span class="endDate">
      {{endDate}}
      </span>
      {{else}}
      <span class="endDate">
      Present
      </span>
      {{/if}}
    </div>
    <div class="work__main">
      <div class="work__company title-color">
        {{name}}
      </div>
      <div class="work__summary">
        {{{summary}}}
      </div>
      {{#if position}}
      <div class="work__position title-color">
        <span>Responsibilities: </span> {{position}}.
      </div>
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}